* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #timer {
    font-size: 6em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 80px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
  
  #add-player,
  #save {
    margin-top: 10px;
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
  }
  
  thead {
    background-color: #4CAF50;
    color: white;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-button {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0073aa;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc2e27;
  }
  
  
  @media (min-width: 768px) {
    /* Reglas CSS para pantallas grandes */
    body {
      font-size: 18px;
    }
  
    h1 {
      font-size: 48px;
    }
  
    h2 {
      font-size: 36px;
    }
  
    table {
      width: 50%;
    }
  }


  @media (max-width: 767px) {
    /* Reglas CSS para pantallas pequeñas */
    h1 {
      font-size: 36px;
    }
    
    #timer {
      font-size: 3em;
    }
    
    input[type="number"] {
      width: 60px;
    }
    
    button {
      padding: 8px 16px;
    }
    
    table {
      font-size: 14px;
    }
  }

  
  @media (max-width: 768px) {
    /* Reglas CSS para pantallas pequeñas */
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .container {
      padding: 10px;
    }
  
    table {
      width: 100%;
    }
  }
  
